/* VARIABLES ------------------------------------------------------------------------------- */
:root{
  --titulos: "Montserrat", Arial, Helvetica, sans-serif;
  --texto: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --main:#118ab2;
  --det: #242423;
  --back: #E4DED2;
  --alt: #fb8500;
}
/* GLOBALES ------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titulos);
  color: var(--main);
}

p {
  font-family: var(--texto);
  font-size: 2.5vh;
  color: var(--det);
}

html {
  background-color: var(--back);
}
a{
  text-decoration: none;
  color: var(--main);
  font-family: var(--titulos);
  font-weight: bold;
}
a:visited{
  color: var(--main);
}
h2.subtitle{
  font-size: 3vw;
}
/* SCROLLBAR ------------------------------------------------------------------------------- */
::-webkit-scrollbar {
  width: 1vw;
  background-color: var(--main);
  background-position: bottom;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--det);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  var(--det);
  min-height: 20px;
}
/* NAVBAR ------------------------------------------------------------------------------- */
img#nav-logo{
  height: 5vh;
  margin-right: 2rem;

}
ul#nav-list{
  position: fixed;
  width: 100vw;
  background-color: var(--det);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  z-index: 999;
}
li.nav-item{
  display: inline;
}
li.nav-item:hover a{
  color: var(--back);
}
/* HERO ---------------------------------------------------------------------------------- */
section#hero{
  position: relative;
  top: 8vh;
  overflow-x: hidden;
}
section#hero #img-container{
  background:url('./assets/yo.png');
  background-size: cover;
  width: 100vw;
  height: 70vh;
  transition: all .5s ease-in-out;
  background-position-x: left;
}
div#hero-flechas{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  padding: 0 2rem;
}
div#hero-flechas p.flecha{
  color: var(--back);
  font-size: 3vw;
  font-family: var(--texto);
  cursor: pointer;
}
section#hero::before{
  content: "Mi nombre es Nicolas Bolinaga, bienvenido a mi portafolio ";
  position: absolute;
  width: 98vw;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  font-family: var(--titulos);
  font-size: 2.5vw;
  text-align: center;
  font-weight: bold;
  color: var(--back);
  background-color: rgba(36, 36, 35, .9);
  padding: 2rem;
}
/* ABOUT ------------------------------------------------------------------------------- */
section#about{
  padding: 4rem;
  text-align: center;
  margin-top: 10vh;
}
section#about h3{
  font-size: 2rem;
  margin: 3rem;
}
section#about img#yoP{
  width: 30%;
  outline: 1vh solid var(--det);
  margin: 2rem;
}
section#about p.aboutMe{
  font-size: 1.75rem;
  width: 60%;
  margin: 2rem auto;
}
div#objetivos {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}
/* objetivos */
ul#objIzq{
  float: left;
}
ul#objDer{
  float: right;
}
ul#objIzq, ul#objDer{
  list-style: none;
  background-color: var(--det);
  padding: 3rem;
  width: 40%;
  height: 100%;
  text-align: justify;
}
ul#objIzq h4, ul#objDer h4{
  font-size: 1.5rem;
  color: var(--back);
}
ul#objIzq p, ul#objDer p{
  color: var(--main);
  margin: 2rem;
  text-align: left;
}
ul#objIzq i, ul#objDer i{
  font-size: 1.5rem;
  color: var(--main);
  margin: 0 2rem 0 -2rem;
}
/* EXPERIENCES ------------------------------------------------------------------------------- */
section#experience{
  padding: 4rem;
  text-align: center;

}
section#experience div#exp-container{
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  
}
div#exp-container div.experience{
  width: 25vw;
  height: auto;
  outline: .25rem solid var(--det);
  padding: 2rem;
}
div.experience h3{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--det);
}
div.experience p{
  font-size: 1.25rem;
  text-align: center;
  margin: 2rem 0;
}
div.experience i{
  font-size: 2.5rem;
  text-align: center;
  color: var(--main);
}
div.experience img{
  width: 50%;
  height: auto;
  transition: all 2s ease-in-out;
}
div.experience a:hover{
  color: var(--det);
}
div.experience img:hover{
  animation:spin 4s ease-in-out infinite;
}
@-moz-keyframes spin { 50% { -moz-transform: scaleX(-1); } }
@-webkit-keyframes spin { 50% { -webkit-transform: scaleX(-1); } }
@keyframes spin { 50% { -webkit-transform: scaleX(-1); transform:scaleX(-1); } }